<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Meal Detail</title>
</head>
<body>
    <h1> Meal Detail</h1>
    <h2> {{meal_detail}} </h2>
    <h2> {{meal_detail.description}} </h2>
    <h2> {{meal_detail.people}} </h2>
    <h2> {{meal_detail.preparation_time}} </h2>
    <h2> {{meal_detail.price}} </h2>
    <image src = "{{meal_detail.image.url }}" alt="image">
</body>
</html>